<div class="row">

  <div *ngFor="let item of items$">
      <div class="col-md-4 mx-auto my-5">
          <a><img (click)="video1.show()" class="rounded mx-auto d-block" src="{{item.media[0].url}}"
            alt="video" data-toggle="modal" data-target="#modal1" style="height: 200px; width: 300px"></a>
            <div class="text-justify" style="width: 300px; color: rgba(202, 167, 10, 0.664)">
              {{item.title}}
            </div>
          <!-- <a><img (click)="video1.show()"  class="img-fluid z-depth-1" src="{{item['media'][0]['url']}}"
              alt="video" data-toggle="modal" data-target="#modal1" style="height: 200px; width: 300px"></a> -->
        </div>
        

  </div>

</div>

<div mdbModal #video1="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <span class="mr-4">Spread the word!</span>
        <div>
          <a type="button" mdbBtn floating="true" size="sm" class="btn-fb waves-light" mdbWavesEffect>
            <i class="fa fa-facebook"></i>
          </a>
          <!--Twitter-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-tw waves-light" mdbWavesEffect>
            <i class="fa fa-twitter"></i>
          </a>
          <!--Google +-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-gplus waves-light" mdbWavesEffect>
            <i class="fa fa-google-plus"></i>
          </a>
          <!--Linkedin-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-ins waves-light" mdbWavesEffect>
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light"
          mdbWavesEffect data-dismiss="modal" (click)="video1.hide()">Close</button>

      </div>

    </div>
    <!--/.Content-->

  </div>
</div>

