<div class="row">

  <div class="col-md-4 mx-auto my-5">
    <a><img (click)="video1.show()" class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg"
        alt="video" data-toggle="modal" data-target="#modal1"></a>
  </div>

  <div class="col-md-4 mx-auto my-5">
    <a><img (click)="video2.show()" class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-2.jpg"
        alt="video" data-toggle="modal" data-target="#modal6"></a>
  </div>

  <div class="col-md-4 mx-auto my-5">
    <a><img (click)="video3.show()" class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-3.jpg"
        alt="video" data-toggle="modal" data-target="#modal4"></a>
  </div>

  <div class="col-md-4 mx-auto my-5">
    <a><img (click)="video4.show()" class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-4.jpg"
        alt="video" data-toggle="modal" data-target="#modal2"></a>
  </div>

  <div class="col-md-4 mx-auto my-5">
    <a><img (click)="video5.show()" class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-5.jpg"
        alt="video" data-toggle="modal" data-target="#modal5"></a>
  </div>

  <div class="col-md-4 mx-auto my-5">
    <a><img (click)="video6.show()" class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-6.jpg"
        alt="video" data-toggle="modal" data-target="#modal3"></a>
  </div>

</div>

<div mdbModal #video1="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <span class="mr-4">Spread the word!</span>
        <div>
          <a type="button" mdbBtn floating="true" size="sm" class="btn-fb waves-light" mdbWavesEffect>
            <i class="fa fa-facebook"></i>
          </a>
          <!--Twitter-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-tw waves-light" mdbWavesEffect>
            <i class="fa fa-twitter"></i>
          </a>
          <!--Google +-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-gplus waves-light" mdbWavesEffect>
            <i class="fa fa-google-plus"></i>
          </a>
          <!--Linkedin-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-ins waves-light" mdbWavesEffect>
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light"
          mdbWavesEffect data-dismiss="modal" (click)="video1.hide()">Close</button>

      </div>

    </div>
    <!--/.Content-->

  </div>
</div>

<div mdbModal #video2="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wTcNtgA6gHs" allowfullscreen></iframe>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <span class="mr-4">Spread the word!</span>
        <div>
          <a type="button" mdbBtn floating="true" size="sm" class="btn-fb waves-light" mdbWavesEffect>
            <i class="fa fa-facebook"></i>
          </a>
          <!--Twitter-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-tw waves-light" mdbWavesEffect>
            <i class="fa fa-twitter"></i>
          </a>
          <!--Google +-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-gplus waves-light" mdbWavesEffect>
            <i class="fa fa-google-plus"></i>
          </a>
          <!--Linkedin-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-ins waves-light" mdbWavesEffect>
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light"
          mdbWavesEffect data-dismiss="modal" (click)="video2.hide()">Close</button>

      </div>

    </div>
    <!--/.Content-->

  </div>
</div>

<div mdbModal #video3="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM" allowfullscreen></iframe>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <span class="mr-4">Spread the word!</span>
        <div>
          <a type="button" mdbBtn floating="true" size="sm" class="btn-fb waves-light" mdbWavesEffect>
            <i class="fa fa-facebook"></i>
          </a>
          <!--Twitter-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-tw waves-light" mdbWavesEffect>
            <i class="fa fa-twitter"></i>
          </a>
          <!--Google +-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-gplus waves-light" mdbWavesEffect>
            <i class="fa fa-google-plus"></i>
          </a>
          <!--Linkedin-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-ins waves-light" mdbWavesEffect>
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light"
          mdbWavesEffect data-dismiss="modal" (click)="video3.hide()">Close</button>

      </div>

    </div>
    <!--/.Content-->

  </div>
</div>

<div mdbModal #video4="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GUEZCxBcM78" allowfullscreen></iframe>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <span class="mr-4">Spread the word!</span>
        <div>
          <a type="button" mdbBtn floating="true" size="sm" class="btn-fb waves-light" mdbWavesEffect>
            <i class="fa fa-facebook"></i>
          </a>
          <!--Twitter-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-tw waves-light" mdbWavesEffect>
            <i class="fa fa-twitter"></i>
          </a>
          <!--Google +-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-gplus waves-light" mdbWavesEffect>
            <i class="fa fa-google-plus"></i>
          </a>
          <!--Linkedin-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-ins waves-light" mdbWavesEffect>
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light"
          mdbWavesEffect data-dismiss="modal" (click)="video4.hide()">Close</button>

      </div>

    </div>
    <!--/.Content-->

  </div>
</div>

<div mdbModal #video5="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PjGkVCAo8Fw" allowfullscreen></iframe>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <span class="mr-4">Spread the word!</span>
        <div>
          <a type="button" mdbBtn floating="true" size="sm" class="btn-fb waves-light" mdbWavesEffect>
            <i class="fa fa-facebook"></i>
          </a>
          <!--Twitter-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-tw waves-light" mdbWavesEffect>
            <i class="fa fa-twitter"></i>
          </a>
          <!--Google +-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-gplus waves-light" mdbWavesEffect>
            <i class="fa fa-google-plus"></i>
          </a>
          <!--Linkedin-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-ins waves-light" mdbWavesEffect>
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light"
          mdbWavesEffect data-dismiss="modal" (click)="video5.hide()">Close</button>

      </div>

    </div>
    <!--/.Content-->

  </div>
</div>

<div mdbModal #video6="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gsNY7TV4r1M" allowfullscreen></iframe>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center flex-column flex-md-row">
        <span class="mr-4">Spread the word!</span>
        <div>
          <a type="button" mdbBtn floating="true" size="sm" class="btn-fb waves-light" mdbWavesEffect>
            <i class="fa fa-facebook"></i>
          </a>
          <!--Twitter-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-tw waves-light" mdbWavesEffect>
            <i class="fa fa-twitter"></i>
          </a>
          <!--Google +-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-gplus waves-light" mdbWavesEffect>
            <i class="fa fa-google-plus"></i>
          </a>
          <!--Linkedin-->
          <a type="button" mdbBtn floating="true" size="sm" class="btn-ins waves-light" mdbWavesEffect>
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
        <button type="button" mdbBtn color="primary" outline="true" rounded="true" class="ml-4 waves-light"
          mdbWavesEffect data-dismiss="modal" (click)="video6.hide()">Close</button>

      </div>

    </div>
    <!--/.Content-->

  </div>