<div *ngFor="let list of lists$">

    <div *ngIf="list.layouts[0]['title'] == 'carousal-one-layouts'">
      <app-carousal-one-layouts [carousel_list_id]="list.id"></app-carousal-one-layouts>
    </div>

    <!-- <div *ngIf="list.layouts[0]['title'] == 'vertical-cards-layouts'">
        {{list.name}}
      <app-vertical-cards-layouts [carousel_list_id]="list.id"></app-vertical-cards-layouts>
    </div>

    <div *ngIf="list.layouts[0]['title'] == 'gallery-one'">
        {{list.name}}
      <app-gallery-onet [carousel_list_id]="list.id"></app-gallery-one>
    </div> -->

  </div>